*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}




h1{
    background-color: #f1f1f1;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    border-left: 4px solid #ff0001;

}

.confirm{
    background-color: #fbfbfb;
    border: 2px #ebebeb solid;
    margin: 0 auto;
    width: 30%;
    height: 120%;
    padding: 30px;
    border-radius: 4%;

}

.buttons{
    display: flex;
    margin-top: 20px;
}

.buttons form{
    margin-right: 12px;
}

.button1{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbfbf;
    border-radius: 8px;
    border-bottom: 2px solid gray;
}

.button2{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: darkorange;
    border-radius: 8px;
    border-bottom: 2px solid #E08600;
}